.destinationP h2,
.destinationP h1 {
  background-color: var(--yellow-color);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  border-radius: 20px;
}

@media (max-width: 776px) {
  .destinationP h1 {
    font-size: 25px;
  }
}

.destinationP h2 {
  font-weight: 600;
  font-size: 20px;
}

.destinationP .more-destinations {
  transition: 0.7s;
  overflow: hidden;
  height: 0;
}

.destinationP .more-destinations.open {
  height: fit-content;
}

.destinationP .view-more {
  cursor: pointer;
}