
.small-destination .my-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.small-destination .my-card img {
  min-width: 257px;
  margin: auto;
}

.small-destination .my-card h5 {
  font-weight: 400;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 257px;
  padding: 7px 0;
  background-color: var(--dark-color);
  margin: 0;
  transition: 0.3s;
}

.small-destination .my-card h5:hover {
  background-color: var(--gold-color);
}